@{
    ViewBag.Title = "修改圈子内容";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}
@model Property.UI.Models.Weixin.EditContentModel
<div>
    @using (Ajax.BeginForm("UpdateContent", "WeixinSocialCircle", "", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "form" }))
    {
        <div class="weui_cells weui_cells_form" style="font-size:16px">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <label class="weui_label" style="margin-bottom:10px">圈子介绍</label>
                    @Html.TextAreaFor(model => model.Content, new { @class = "weui_textarea", @maxlength = 200, @placeholder = "简单介绍下圈子吧，可不填", @rows = "5" })
                </div>
            </div>
        </div>
        <div style="margin:20px 10px">
        <button class="weui_btn weui_btn_blue" type="submit">提交</button>
    </div>
    }
    
</div>
@section Styles{
    <style type="text/css">
        .weui_btn_blue {
            background-color: #0172ff;
        }

            .weui_btn_blue:not(.weui_btn_disabled):visited {
                color: #FFFFFF;
            }

            .weui_btn_blue:not(.weui_btn_disabled):active {
                color: rgba(255, 255, 255, 0.8);
                background-color: #1a31ea;
            }

        .weui_label {
            color: #000;
            font-weight: 500;
        }

        input {
            text-align: right;
        }
    </style>
}
@section Scripts{
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

        function OnSuccess(data) {
            if (data.Code == "OK") {

                alert("修改成功");
                location.replace(document.referrer);
            }
            else {
                alert(data.Msg);
            }
        }
        function OnFailure(err) {
            alert("请求发生异常");
        }
    </script>

}