<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <logger name="ServiceLog">
      <level value="ALL"/>
      <appender-ref ref="RollingLog" />
    </logger>
    <appender name="RollingLog" type="log4net.Appender.RollingFileAppender">
      <file value="ShopRejectOrderLog\ShopRejectOrderLog" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d[%p][%t]%c %m%n" />
      </layout>
    </appender>
    <!--<logger name="LogInfo">
      <level value="INFO"/>
      <appender-ref ref="RollingLog"/>
    </logger>
    <logger name="LogError">
      <level value="ERROR"/>
      <appender-ref ref="RollingErr"/>
    </logger>
    <appender name="RollingLog" type="log4net.Appender.RollingFileAppender">
      <file value="ShopRejectOrderLogInfo\ShopRejectOrderLogInfo"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d[%p][%t]%c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    <appender name="RollingErr" type="log4net.Appender.RollingFileAppender">
      <file value="ShopRejectOrderLogErr\ShopRejectOrderLogErr"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d[%p][%t]%c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>-->
  </log4net>
  <connectionStrings>
    <add name="PropertyConn" connectionString="Data Source=.;User ID=sa;Password=sarnath123!@#;Initial Catalog=Property;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerMail" value="server@sarnath.cn" />
    <add key="Password" value="ser12345678" />
    <add key="SmtpServer" value="smtp.exmail.qq.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ToAddress" value="liutao@sarnath.cn" />
    <add key="DALPath" value="Property.DAL" />
    <add key="BLLPath" value="Property.BLL" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
