@{
    ViewBag.Title = "密码管理";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

@model Property.UI.Models.Weixin.PasswordModel

@if (Model.Password == "" || Model.Password == null)
{
    using (Ajax.BeginForm("PasswordMgr", "WeixinPersonalCenter", "", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "form" }))
    {
        <input type="text" readonly="readonly" style="display:none" />
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">设置密码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.TextBoxFor(m => m.sPassword, new { @class = "weui_input", @type = "password", @maxlength = 32, @placeholder = "6-32位数字和字母组合", @required = true })
                </div>
                <img id="img1" src="/Images/WeiXin/click.png" onclick="btn1()" />
            </div>
        </div>
    }
    <div style="margin:20px 10px">
        <button class="weui_btn weui_btn_blue" onclick="subPassword();">保存</button>
    </div>
}
else
{
    using (Ajax.BeginForm("PasswordMgr", "WeixinPersonalCenter", "", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { id = "form" }))
    {
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">原密码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.TextBoxFor(m => m.BeforePassword, new { @class = "weui_input", @type = "password", @maxlength = 32, @placeholder = "请输入旧密码", @required = true })
                </div>
                <img id="img2" src="/Images/WeiXin/click.png" onclick="btn2()" />
            </div>
            <div class="weui_cell" @*style="position:relative"*@>
                <div class="weui_cell_hd"><label class="weui_label">新密码</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "weui_input", @type = "password", @maxlength = 32, @placeholder = "6-32位数字和字母组合", @required = true })
                </div>
                <img id="img1" src="/Images/WeiXin/click.png" onclick="btn()" />
            </div>
        </div>
    }
    <div style="margin:20px 10px">
        <button class="weui_btn weui_btn_blue" onclick="subpassword();">保存更改</button>
    </div>
}

@section Styles{

    <style type="text/css">
        #img1 {
            width: 32px;
            height: 32px;
        }

        #img2 {
            width: 32px;
            height: 32px;
        }

        .weui_btn_blue {
            background-color: #0172ff;
        }

            .weui_btn_blue:not(.weui_btn_disabled):visited {
                color: #FFFFFF;
            }

            .weui_btn_blue:not(.weui_btn_disabled):active {
                color: rgba(255, 255, 255, 0.8);
                background-color: #1a31ea;
            }

        .weui_label {
            color: #000;
            font-weight: 500;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/plugins/validate")
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function btn() {
            var txt = $("#NewPassword");
            if (txt.prop("type") == "password") {
                //$(this).removeClass("");
                //$(this).addClass("");
                txt.prop("type", "text");
                var pic1 = document.getElementById("img1").src = "/Images/WeiXin/click2.png";
            }
            else {
                //$(this).removeClass("");
                //$(this).addClass("");
                txt.prop("type", "password");
                var pic1 = document.getElementById("img1").src = "/Images/WeiXin/click.png";
                return;
            }
        }
        function btn1() {
            var txt = $("#sPassword");
            if (txt.prop("type") == "password") {
                //$(this).removeClass("");
                //$(this).addClass("");
                txt.prop("type", "text");
                var pic1 = document.getElementById("img1").src = "/Images/WeiXin/click2.png";
            }
            else {
                //$(this).removeClass("");
                //$(this).addClass("");
                txt.prop("type", "password");
                var pic1 = document.getElementById("img1").src = "/Images/WeiXin/click.png";
            }
        }
        function btn2() {
            var txt = $("#BeforePassword");
            if (txt.prop("type") == "password") {
                //$(this).removeClass("");
                //$(this).addClass("");
                txt.prop("type", "text");
                var pic1 = document.getElementById("img2").src = "/Images/WeiXin/click2.png";
                return;
            }
            else {
                //$(this).removeClass("");
                //$(this).addClass("");
                txt.prop("type", "password");
                var pic1 = document.getElementById("img2").src = "/Images/WeiXin/click.png";
            }
        }
        //提交1
        function subPassword() {
            if ($("#sPassword").val() == "" || $("#sPassword").val == undefined) {
                alert("请设置密码");
                return;
            }
            if ($("#sPassword").val()) {
                var Regx = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,32}$/;
                var obj = document.getElementById("sPassword");
                if (!Regx.test(obj.value)) {
                    alert("密码必须为6-32位的数字和字母组合");
                    return;
                }
            }
            $("#form").submit();
        }

        //提交2
        function subpassword() {
            if ($("#BeforePassword").val() == "" || $("#BeforePassword").val == undefined) {
                alert("请输入原密码");
                return;
            }
            if ($("#NewPassword").val() == "" || $("#NewPassword").val() == undefined) {
                alert("请输入新密码");
                return;
            }
            if ($("#NewPassword").val()) {
                var Regx = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,32}$/;
                var obj = document.getElementById("NewPassword");
                if (!Regx.test(obj.value)) {
                    alert("新密码必须为6-32位的数字和字母组合");
                    return;
                }
            }
            $("#form").submit();
        }

        function OnSuccess(data) {
            if (data.Code == "OK") {
                //保存成功
                location.replace(document.referrer);
            }
            else {
                alert(data.Msg);
            }
        }

        function OnFailure(err) {
            alert("请求发生异常");
        }
    </script>
}