<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Property.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <logger name="ServiceLog">
      <level value="ALL"/>
      <appender-ref ref="RollingLog" />
    </logger>
    <appender name="RollingLog" type="log4net.Appender.RollingFileAppender">
      <file value="PropertyLog\PropertyLog" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d[%p][%t]%c %m%n" />
      </layout>
    </appender>
  </log4net>
  <applicationSettings>
    <Property.Common.Properties.Settings>
      <setting name="Property_Common_Service1_Service1" serializeAs="String">
        <value>http://service2.winic.org:8003/Service.asmx</value>
      </setting>
    </Property.Common.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>