<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <log4net>
      <logger name="ServiceLog">
        <level value="ALL"/>
        <appender-ref ref="RollingLog" />
      </logger>
      <appender name="RollingLog" type="log4net.Appender.RollingFileAppender">
        <file value="ExpenseNotificationLog\ExpenseNotificationLog" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyyMMdd'.txt'" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%d[%p][%t]%c %m%n" />
        </layout>
      </appender>
    <!--<logger name="LogInfo">
      <level value="INFO"/>
      <appender-ref ref="RollingLog"/>
    </logger>
    <logger name="LogError">
      <level value="ERROR"/>
      <appender-ref ref="RollingErr"/>
    </logger>
    <appender name="RollingLog" type="log4net.Appender.RollingFileAppender">
      <file value="ExpenseNotificationLogInfo\ExpenseNotificationLogInfo"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d[%p][%t]%c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    <appender name="RollingErr" type="log4net.Appender.RollingFileAppender">
      <file value="ExpenseNotificationLogErr\ExpenseNotificationLogErr"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d[%p][%t]%c %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
    </appender>-->
  </log4net>
  <connectionStrings>
    <!--<add name="PropertyConn" connectionString="metadata=res://*/PStationEntities.csdl|res://*/PStationEntities.ssdl|res://*/PStationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.107;initial catalog=Property;persist security info=True;user id=sa;password=sarnath123!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="PropertyConn" connectionString="Data Source=.;User ID=sa;Password=sarnath123!@#;Initial Catalog=Property;" providerName="System.Data.SqlClient" />
    <!--<add name="PropertyConn" connectionString="data source=192.168.0.107;initial catalog=Property;persist security info=True;user id=sa;password=sarnath123!@#" providerName="System.Data.EntityClient" />-->
    <!--<add name="PropertyConn" connectionString="data source=192.168.0.107;initial catalog=Property;persist security info=True;user id=sa;password=sarnath123!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ServerMail" value="server@sarnath.cn" />
    <add key="Password" value="ser12345678" />
    <add key="SmtpServer" value="smtp.exmail.qq.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WeekReportMailTemplate" value="week_template.html" />
    <add key="ToAddress" value="liutao@sarnath.cn" />
    <!--设置从推送日期开始加上这个值为应缴费结束日期-->
    <add key="ExpensePeriod" value="10" />
    <!--设置几点发缴费推送-->
    <add key="PushHour" value="10" />
    <add key="DALPath" value="Property.DAL" />
    <add key="BLLPath" value="Property.BLL" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>