@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>链接已失效</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/animate.css" rel="stylesheet">
    <link href="/Content/style.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <br />
    <div class="wrapper wrapper-content animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-left:15%;margin-right:15%">
                    <img src="~/Images/reset_pass_icon.png" />
                </div>
                <br />
                <div class="ibox" style="margin-left:15%;margin-right:15%">
                    <div class="ibox-content">

                        <h2 class="font-bold">密码重置</h2>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <div class="row" style="margin-left:25%;margin-right:25%;vertical-align:middle">
                            <div class="col-md-3">
                                <img src="~/Images/do_error.png" />
                            </div>
                            <div class="col-md-9 text-left">
                                <h2 class="font-bold title-font">
                                    对不起，您的操作失败啦！
                                </h2>
                                <span class="title-span" style="color:#20B3C1;font-size:15px">该链接已失效，请到APP重新找回密码</span>
                            </div>
                        </div>
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="/Scripts/jquery-2.1.1.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>

</html>

