@{
    ViewBag.Title = "分享友邻";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}
<div style="background: #0172ff; height: 50px; line-height: 50px; text-align: center">
    <span style="vertical-align:middle;font-size:18px;color:#fff">我的二维码</span>
</div>
<div style="width:100%">
    <img src="~/Images/Weixin/qr.png" style="width:100%;height:100%" />
</div>
